[submodule "libx264"]
	path = libx264
	url = https://git.videolan.org/git/x264
[submodule "libx265"]
	path = libx265
	url = https://github.com/videolan/x265.git
[submodule "libnuma"]
	path = libnuma
	url = https://github.com/numactl/numactl.git
[submodule "libvpx"]
	path = libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "aom"]
	path = aom
	url = https://aomedia.googlesource.com/aom
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "libass"]
	path = libass
	url = https://github.com/libass/libass.git
[submodule "fribidi"]
	path = fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://github.com/freedesktop/fontconfig.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "libbluray"]
	path = libbluray
	url = https://code.videolan.org/videolan/libbluray.git
[submodule "libudfread"]
	path = libudfread
	url = https://git.videolan.org/git/libudfread.git
[submodule "libbs2b"]
	path = libbs2b
	url = https://github.com/alexmarsev/libbs2b.git
[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "libpciaccess"]
	path = libpciaccess
	url = https://github.com/rcvalle/libpciaccess.git
[submodule "xorg-macros"]
	path = xorg-macros
	url = https://github.com/freedesktop/xorg-macros.git
[submodule "fdk-aac"]
	path = fdk-aac
	url = https://github.com/mstorsjo/fdk-aac
[submodule "libmysofa"]
	path = libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "openjpeg"]
	path = openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "libogg"]
	path = libogg
	url = https://github.com/gcp/libogg.git
[submodule "vorbis"]
	path = vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "libsamplerate"]
	path = libsamplerate
	url = https://github.com/erikd/libsamplerate.git
[submodule "srt"]
	path = srt
	url = https://github.com/Haivision/srt.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "twolame"]
	path = twolame
	url = https://github.com/njh/twolame.git
[submodule "vid.stab"]
	path = vid.stab
	url = https://github.com/georgmartius/vid.stab.git
