[submodule "libx264"]
	path = libx264
	url = https://git.videolan.org/git/x264
[submodule "libx265"]
	path = libx265
	url = https://github.com/videolan/x265.git
[submodule "libnuma"]
	path = libnuma
	url = https://github.com/numactl/numactl.git
[submodule "libvpx"]
	path = libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "aom"]
	path = aom
	url = https://aomedia.googlesource.com/aom
